annotated-types
anyio
blinker
cachelib
certifi
click
contourpy
cycler
distro
Flask
Flask-Caching
Flask-SQLAlchemy
fonttools
h11
httpcore
httpx
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
numpy
openai
packaging
pandas
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
six
sniffio
SQLAlchemy
tqdm
typing_extensions
tzdata
Werkzeug
